/* CSS Variables */
:root {
    --header-txt-color: rgb(224, 255, 255);
    --txt-color: rgb(51, 100, 145);
    --title-bg-color:  rgb(14, 53, 88);
    --txt-font-fam: sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    border-style: groove;
    border-color: rgb(114, 162, 179);
    background-color:rgb(255, 250, 250);
}

/* --------------------------------------- */
/* Main header code and navigation here: */
/* --------------------------------------- */
.main-header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(122, 129, 134);
    color: rgb(214, 229, 236, 0.781); 
}

.main-header h1 {
    margin-left: 20px;
    font-size: 30px;
}

/* Makes the nav element (within class="main-header") a felxbox to justify the content */
.main-header nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Makes the ul element (within nav --> class="main-header") a felxbox to justify the content */
.main-header nav ul {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;  
    width: 20%;
}

/* Only applies to links inside the navbar --> header */
.main-header nav ul li a {
    color: var(--header-txt-color);
    text-decoration: none;
}

 /* Background image --> goes with the header */
.hero-image {
    width: 100%;
    height: 140px;
    background-image: url("../images/heading-background.jpg");
    background-size: cover;
    background-position: center;
}

/* --------------------------------------- */
/* CODE ENDS */
/* --------------------------------------- */


/* --------------------------------------- */
/* Main Content code here */
/* main class="content" & */
/* aside class="side-label-section" code */
/* --------------------------------------- */

/* flex-wrap --> forces elements to the next line if they don't fit */
main.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 15px 0; 
    width: 96%;
    border-style: outset;
    background-color: rgb(245, 250, 250);
}

aside.side-label-section {
    display: flex;
    justify-content: flex-end;
    padding: 20px; 
    margin-bottom: 20px;
    margin-right: 20px;
    border-right: 2px solid rgb(46, 124, 189);
    width: 45%;
}

/* h2 element with class="side-label-text" is a child of aside element */
aside .side-label-text {
    font-size: 30px;
    color: var(--txt-color);
} 

/* --------------------------------------- */
/* Main continues... */
/* main-content --> id="content-about" code */
/* --------------------------------------- */
.content #content-about {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
/* height for border-right of aside class="side-label-section" --> id="content-about" */
#content-about aside.side-label-section {
    height: 280px;
}

#content-about .info-section {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;  
}

.info-section img {
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 30px;
    width: 250px;
    height: 280px;
}

.info-section p {
    padding-top: 100px;
    width: 80%;
    font-family: var(--txt-font-fam);
}

/* --------------------------------------- */
/* Main continues... */
/* main-content --> id="content-work" code */
/* --------------------------------------- */
.content #content-work {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

/* height for border-right of aside class="side-label-section" --> id="content-work" */
#content-work aside.side-label-section {
    height: 540px;
}

#content-work .project-section {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px; 
}

/* This for the 1st project --> larger than the rest */
.project-section .project1-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 800px;
    height: 260px;
} 

/* 1st project image */
.project-section .project1-container .project1-image1 {
    position: absolute;
    background-image: url("../images/project1-image1.jpg");
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 260px;
}

/* This for the rest of the projects --> smaller than the 1st project */
.project-section .project-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width:  395px;
    height: 120px;
} 

/* 2nd - 4th project images */
.project-section .project-container .project2-image2 {
    position: absolute;
    background-image: url("../images/project2-image2.jpg");
    background-size: cover;
    background-position: center;
    width: 395px;
    height: 120px;
}

.project-section .project-container .project3-image3 {
    position: absolute;
    background-image: url("../images/project3-image3.jpg");
    background-size: cover;
    background-position: center;
    width: 395px;
    height: 120px;
}

.project-section .project-container .project4-image4 {
    position: absolute;
    background-image: url("../images/project4-image4.jpg");
    background-size: cover;
    background-position: center;
    width: 395px;
    height: 120px;
}

.project-section .project-container .project5-image5 {
    position: absolute;
    background-image: url("../images/project5-image5.jpg");
    background-size: cover;
    background-position: center;
    width: 395px;
    height: 120px;
}

/* Description for the 1st project  */
.project1-container .project1-title-desc {
    position: relative;
    width: 160px;
    height: 80px;
    top: 160px;   
    right: 640px;
    background-color: var(--title-bg-color);
}

/* Description for the rest of the projects */
.project-container .project-title-desc {
    position: relative;
    width: 150px;
    height: 60px;
    top: 40px;   
    left: 0px;
    /* background-color: rgb(51, 100, 145); */
    background-color: var(--title-bg-color);
}

/* 1st project -->  h3 */
.project1-title-desc h3 {
    padding: 10px;
    margin-right: 100px;
    width: 200px;
    height: 10px;
    font-size: 20px;
    color: var(--header-txt-color);
}

/* 1st project --> p */
.project1-title-desc p {
    padding: 20px;
    font-size: 15px;
    color: var(--header-txt-color);
}

/* Rest of the projects -->  h3 */
.project-title-desc h3 {
    padding: 10px;
    margin-right: 100px;
    width: 200px;
    height: 10px;
    font-size: 15px;
    color: var(--header-txt-color);
}

/* Rest of the projects -->  p */
.project-title-desc p {
    padding: 15px;
    font-size: 13px;
    color: var(--header-txt-color);
}

/* --------------------------------------- */
/* Main continues... */
/* main-content --> id="content-contact" code */
/* --------------------------------------- */
.content #content-contact {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

/* height for border-right of aside class="side-label-section" --> id="content-contact" */
#content-contact aside.side-label-section {
    height: 80px;
}

#content-contact .contact-section {
    display: flex;
    justify-content: row;
    padding: 30px 15px;
    margin-right: 300px;
    font-family: var(--txt-font-fam);
    font-size: 20px;
}

#content-contact .contact-section ul {
    display: flex;
    justify-content:space-between; 
}

#content-contact .contact-section ul li {
    margin-left: 25px; 
}

/* Only applies to links inside the class="contact-section" --> header */
#content-contact .contact-section ul li a {
    font-weight: bold;
    color: var(--txt-color);
    text-decoration: none;
}


/* --------------------------------------- */
/* Media Query */
/* --------------------------------------- */
/* @media screen and (min-width: 768px) and (max-width: 1280px) {

    .main-header h1 {
        text-align: center;
        font-size: 30px;
    }

    .main-header nav ul {
        width: 100%;
        display: flex;
        flex-direction: wrap;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .main-header nav li {
        display: flex;
        justify-content: center;
    }
} */

 
 



