*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(255, 250, 250);
}

.main-header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(122, 129, 134);
    color: rgba(214, 229, 236, 0.781); 
}
h1 {
    margin-left: 20px;
    font-size: 30px;
}

.main-header nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.main-header nav ul {
    width: 20%;
    display: flex;
    justify-content: space-between;
    /* margin-left: 25px;   */
}

a {
    color: rgb(224, 255, 255);
    text-decoration: none;
}

.hero-image {
    height: 140px;
    width: 100%;
    background-image: url("../images/heading-background.jpg");
    background-size: cover;
    background-position: center;
}

/* --------------------------------------- */
main.content {
    width: 100%;
    margin-top: 20px;
    padding: 10px; 
    display: inline-block;
    border: 5px dashed green;
}
#content-about {
    display: flex;
    flex-direction: row;
}

aside.side-label-section {
    padding: 20px; 
    width: 20%;
    /* float: left; */
    margin-right: 20px;
    margin bottom: 20px;
    border: 15px dashed yellow;
    border-right: 2px solid blue;
    height: 300px;
}

.side-label-text {
    font-size: 30px;
    float: right;
    background-color: red;
}

.info-section {
    display: flex;
    justify-content: center;
}



.project-section {
    width: 80%;
    display: inline-block;
    float: right;
}

.project-container {
    width: 80%;
    background-color: palevioletred;
    display: flex;
    flex: row;
    margin: 20px;
}

.project-image1 {
    height: 120px;
    width: 100%;
    background-image: url("../images/project1-image.jpg");
    background-size: cover;
    background-position: center;
}